@import '~@fluentui/react/dist/sass/References.scss';

.pomPom {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  border-radius: 50px;
  background: #d1d1d1;
  box-shadow: 20px 20px 60px #b2b2b2, -20px -20px 60px #f0f0f0;
  color: black;
  width: 60%;
  margin: 3em auto;
  border-radius: 50px;
  background: #d1d1d1;
  box-shadow: 20px 20px 60px #b2b2b2, -20px -20px 60px #f0f0f0;
  color: black;
}

@media only screen and (max-width: 880px) {
  .pomPom {
    width: 70%;
  }
}

@media only screen and (max-width: 750px) {
  .pomPom {
    flex-direction: column;
    margin: 0;
    border-radius: 0;
  }
}

.welcome {
  text-align: center;
}

h3{
  margin-bottom: 5px;
}
p{
  margin-top: 2px;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}
.pomodoro{
  padding: 1em 2em;
}
.statistics{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 2em;
  text-align: left;
  gap: 30px;
}
.mb1{
  margin-bottom: 1em;
}
.circles{
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  border: solid 1px darkgray;
  padding: 5px;
  border-radius: 25px;
  max-width: 105px;
  flex-wrap: wrap;
}
.multicycle{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}
.countText{
  margin: 0 5px;
}

.dark{
  background-color: "[theme:neutralLighter, default: #f3f2f1]";
  background-color: var(--neutralLighter);
  color: "[theme:neutralPrimary, default: #333333]";
  color: var(--neutralPrimary);
}
.timer{
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 0.5em;
}



.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}